.one{
    background-color: palegoldenrod;
    position:relative;
    overflow:auto;

    
}
.sec{
    border: 5px solid green;
    width: 1340px;

}

body{
    margin: 0px;
}
.a{
    background-color:ivory;
    text-align: center;
    padding:20px 50px;
    border: 5px solid red;
    border-radius: 10px;
    box-shadow: 5px 5px 5px purple;
    margin-left: 550px;
    display:inline-block;
    font-style: italic;
    font-size:20px;
    text-shadow:2px 2px 2px maroon;
}
.b{
    background-color: powderblue;
    text-align: center;
    height: 200px;
    border: 5px solid red;
    border-radius: 10px;
    box-shadow: 5px 5px 5px purple;
    width: 200px;
    font-size: 20px;
    line-height: 40px;
    text-shadow:2px 2px 2px blue;
    margin-top:20px;
    margin-left: 20px;
}
.c ,.e{
    border: 5px solid red;
    height: 200px;
    width: 200px;
    margin-left: 1100px;
    margin-top: -200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px purple;
    position:relative;
}
.d{
    background-color: powderblue;
    text-align: left;
    height: 200px;
    border: 5px solid red;
    border-radius: 10px;
    box-shadow: 5px 5px 5px purple;
    width: 200px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 100px;
    text-shadow: 2px 2px 2px blue;
    margin-left:20px;
}
.e{
    text-align: center;
    text-shadow: 2px 2px 2px blue;
    font-size: 20px;
    
}
.submit{
    background-color: red;
    position:relative;
    padding: 7px 15px;
    border-radius: 10px;
    color: black;
}
.three{
    width: 394px;
    height: 80px;
    border: 5px solid red;
    position: fixed;
    left: 520px;
    bottom: 70px;
    background-color: blueviolet;
    box-shadow: 10px 10px 8px crimson;
    border-radius: 20px;
}
.left{
    text-align:center;
    left: 20px;
    top: 25px;
    position:absolute;
    font-size: 18px;
}
.right{
    text-align: center;
    position: absolute;
    left: 252px;
    top: 26px;
    font-size: 18px;

}
.table{
    background-color: green;
    width: 823px;
    height: 680px;
    border: 5px solid purple;
    margin-top: 50px;
    margin-left: 280px;
}
.four{
    text-align: center;
    margin-left: 4px;
    margin-top: 5px;
    font-size: 30px;
    font-style: bold;
}
.left1, .right2{
    background-color: lightsalmon;
    text-align:center;
    margin-top: 25px;
    width: 400px;
    height: 300px;
}
.left1{
    float:left;
    margin-left: 5px;
    font-size: 20px;
}
.fruits{
    text-align: center;
    font-style: italic;
    line-height: 40px;
    font-size: 18px;
}
.veg{
    text-align: center;
    font-style: italic;
    line-height: 30px;
    font-size: 18px;
}
.right2{
    float:right;
    margin-right: 6px;
    font-size: 20px;
}
.center{
    text-align: center;
    background-color:lightsalmon;
    margin-top: 350px;
    width: 810px;
    height: 280px;
    margin-left: 6px;


}
.others{
    text-align:center;
    line-height: 30px;
    font-weight: 200;
}